@import "tailwindcss";

.leaflet-container {
  height: 80%;
  width: 80%;
}

#map{
  height: 100vh;
  width: 100vw;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

.animate-popup {
  animation: popup 0.18s ease-out forwards;
}